@use 'sass:map';
@use '../src/sass' as ioco with (
  $lightContrast: #efefef,
  $darkContrast: #333333,
);

$color: #ffaa55;

$test1: ioco.contrast-of-color($color);
$test2: ioco.palette-from-color($color);
$tw: ioco.tailwind-get-colors();
$dark: ioco.dark-mode-get-colors();
$mat: ioco.material-get-colors();

$tealMap: map.get($tw, "teal");

@debug "$test1:" + $test1;
@debug "$test2:" + map.get($test2, 100);
@debug "$test3:" + map.get($tealMap, 100);

.test {
  color: $color;
  $new: ioco.palette-from-color(#991313);
  @include ioco.add-color-css-variables($test2, "--th-red", $addContrast: true);
  @include ioco.add-color-css-variables($tealMap, "--th-primary", true);
  @include ioco.add-color-css-variables($new, "--th-darker", true);
}

.all {
  $tw: ioco.tailwind-get-colors();
  $dark: ioco.dark-mode-get-colors();
  $mat: ioco.material-get-colors();

  @each $name, $palette in $tw {
    @include ioco.add-color-css-variables($palette, "--tw-#{$name}", $addContrast: true);
  }
  
  @each $name, $palette in $dark {
    @include ioco.add-color-css-variables($palette, "--dm-#{$name}", $addContrast: true);
  }
  
  @each $name, $palette in $mat {
    @include ioco.add-color-css-variables($palette, "--mat-#{$name}", $addContrast: true);
  }
}
